---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout title="Welcome">
	<header class="h-[88vh] flex justify-center items-center flex-col">
		<h1 class="tracking-tight">Welcome</h1>
		<p>Welcome to the land of the CvmcakKe Minecraft Server.</p>
	</header>
	<main>
		<section
			id="join"
			class="py-6 px-8 bg-slate-800 flex justify-between items-center"
		>
			<h1>Play now</h1>
			<p>
				Server Address: <code>playcvmcakke.dailitation.xyz</code>
			</p>
		</section>
		<section
			id="status"
			class="h-[50vh] flex justify-center items-center flex-col"
		>
			<h1>Server Status</h1>
			<p>Coming soon&trade;</p>
		</section>
	</main>
</BasicLayout>

<style>
	header {
		background-image: url("/morning_mountain.png");
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	}
</style>
