<footer class="text-center bg-slate-800 pt-4 pb-6">
	The CvmcakKe Minecraft Server. &copy; 2024<br />
	CupcakKe is not affiliated with this server. She is only an inspiration for the
	name.<br />
	<div id="socials" class="py-2 flex justify-center items-center">
		<a href="https://discord.gg/7GNtsxmGz9">
			<img src="/discord-mark-white.svg" alt="Discord" class="w-6 h-6" />
		</a>
	</div>
	Site built with {Astro.generator}
</footer>
